<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- Give Product a unquie Id per platfrom. This ensures the installer has a unique identifier for each platform-->
	<?if $(var.Platform)=x64?>
	<?define ProductCode = "{D1A19746-2590-4EA8-913B-421ABE21680D}" ?>
	<?else?>
	<?define ProductCode = "{36B5C33D-6372-496C-8FB0-E2721305BC22}" ?>
	<?endif?>

	<!-- Fixed Upgrade Id-->
	<?define UpgradeCode = "{615FA160-AE97-480C-B53B-864FCB114E18}" ?>

	<Product Id="$(var.ProductCode)"
			 Name="!(loc.ProductName_$(var.Platform))"
			 Language="!(loc.Language)"
			 Version="$(var.BuildVersion)"
			 Manufacturer="!(loc.Company)"
			 UpgradeCode="$(var.UpgradeCode)">

		<Package
			InstallerVersion="200"
			Compressed="yes"
			InstallScope="perMachine"
			Platform = "$(var.Platform)"
			Manufacturer = "!(loc.Company)"
			Description = "!(loc.Description)"
			Keywords = "!(loc.Keywords)"
			Comments = "!(loc.Comments)"
			Languages="!(loc.Language)"
			/>

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
		<MediaTemplate EmbedCab="yes" />

		<!-- Define main app icon -->
		<Icon Id="icon.ico" SourceFile="$(var.TestWixToolkit.ProjectDir)\app.ico"/>

		<!-- Use the icon.ico icon for this installer (shows up in Add/Remove Programs) -->
		<Property Id="ARPPRODUCTICON">icon.ico</Property>

		<!-- Help/Support website (shows in the Add/Remove programs). shown in the Add/Remove Programs interface-->
		<Property Id="ARPURLINFOABOUT">https://www.your_website_name.com</Property>

		<!-- Create a basic UI for the installer -->
		<UIRef Id="WixUI_Minimal"/>

		<!-- Change the installer UI background images -->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf"/>
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp"/>
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp"/>
		
		
		<Feature Id="ProductFeature" Title="SetupProject1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

</Wix>
